docs/
ssc_scoring/.mypy_cache
ssc_scoring/mlruns
ssc_scoring/results
ssc_scoring/image_samples
ssc_scoring/heatmap_1903
ssc_scoring/dataset
*.pyc
*.out
*.err
*.png
*.jpg
.neptune/
.idea
tests/.coverage
*.xml
tests/covhtml/
tests/tests/
tests/results/
tests/dataset/


